body{
   
    background: #34495e;
}
h1{
    color: white;
    text-align: center;
}
.todo_container{
    width: 80%;
    margin: 1rem auto;
}
.todo-header{
    margin: 0rem auto;
    max-width: 100%;
    padding: 0;
}
.todo-input{
    width: 80%;
    max-width: 100%;
    font-size: 18px;
    padding: 8px;
}
.todo-add-button{
    margin: 5px;
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.todo-list-container{
    margin: 0rem auto;
    max-width: 100%;
    padding: 0;
}
.todo-list-item{
    padding: 0;
}
.todo-list-item-body{
    font-size: 22px;
    font-weight: bold;
    color: white;
}
